<h1>Welcome, <%= @user.username %></h1>

<%= form_for :link do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, placeholder: "Title" %>
  </div>

  <div class="form-group">
    <%= f.label :url %>
    <%= f.text_field :url, placeholder: "URL" %>
  </div>

  <div class="form-group">
    <%= f.submit "Add Link" %>
  </div>
<% end %>

<h1>Submit a link</h1>

<ul>
  <% @links.each do |link| %>
    <li>Title: <%= link.title %> | Read: <%= link.status %></li>
  <% end %>
</ul>
